@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Etiquetas de Producción</h1>
    <p class="lead">Programa para la elaboración de etiquetas en el área de producción en las líneas de las órdenes</p>
</div>
